body{
    margin:10px;
   background-color:  black;
}
div{
    width: 100px;
    height:100px;
    background: linear-gradient(45deg,black,white);
    border-radius: 50%;
    border-top: 20px solid red;
    border-bottom: 20px solid green;
    border-left: 30px solid blue;
    border-right: 30px solid purple;
    display: inline-block;

}
.circle-1{

    animation: rotate-clock 2s infinite linear;

}
.circle-2{
    animation: rotate-anticlock 2s infinite linear;
}
@keyframes rotate-clock {
    0%{
        transform:rotate(0deg)
    }
    100%{
        transform:rotate(360deg) ;
    }
    
    
}
@keyframes rotate-anticlock {
    0%{
        transform:rotate(360deg)
    }
    100%{
        transform:rotate(0deg) ;
    }
    
    
}